.Rhistory
.DS_Store
.Rapp.history
*.rdb
vignettes/*_cache
vignettes/*_files
vignettes/*.rdb
vignettes/.DS_Store
vignettes/Introduction-to-Bayesian-Marginal-Additive-Models_cache/html/*
vignettes/Introduction-to-Bayesian-Marginal-Additive-Models_cache/latex/*
vignettes/Introduction-to-Bayesian-Marginal-Additive-Models_files/html/*
vignettes/Introduction-to-Bayesian-Marginal-Additive-Models_files/latex/*
vignettes/.Rhistory
.Rproj.user
.RData
*.Rcheck

## c files
.o
.so
*/.o
*/.so
*/*/.o
*/*/.so
src/*.so
src/*.o

src/.DS_Store
